*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   /* transition-delay: 1s;*/
}
html{
    font-size: 62.5%;
}
.main-wrapper{
    max-width: 100vw;
    min-width: 300px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quote-box{
    background-color: white;
    width: 55rem;
    max-width: 100%;
    min-width: 200px;
    min-height: 25rem;
    padding: 4rem 5rem;
    border-radius: .5rem;
}
#text{
    font-size: 3rem;
    text-align: center;
    transition: opacity .5s ease-in;
}
#author{
    text-align: right;
    font-size: 1.6rem;
    padding: 2rem 0 2rem;
}
#tweet-quote{
    color: white;
    float: left;
    padding: 1rem;
    border-radius: .3rem;
    font-size: 1.6rem;
}
#new-quote{
    color: white;
    float: right;
    padding: 1rem;
    border: none;
    border-radius: .3rem;
    font-size: 1.6rem;
}
#tweet-quote::after,
#new-quote::after{
	content: "";
	display: block;
	clear: both;
}
#new-quote:hover,
#tweet-quote:hover {
    cursor: pointer;
    opacity: .8;
}
.bgcolor{
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}
.fgcolor{
    transition: color 1s ease-in;
}
@media only screen and (max-width: 450px){
    span
    {
        font-size: 24px;
        
    }
    #quote-box{
        padding: 2rem 3rem;
    }
}